<!DOCTYPE html>

<html lang="zh-CN">
    {{template "header" .}}
    <body>
        {{template "navbar" .}}

        <div class="container theme-showcase" role="main">
            <div class="jumbotron">
                <h2>{{.Topic.Title}}</h2>
                {{with .Topic}}
                <h6 class="text-muted">{{.Author}}发表于 <code>{{.Created.Local.Format "2006/01/02 15:04:05"}}</code>,
                    最后更新<code>{{.Updated.Local.Format "2006/01/02 15:04:05"}}</code>，共有{{.Views}}次浏览，{{.ReplyCount}}个评论。</h6>
                {{end}}
                <hr class="hr-text" data-content="AND">
                <a href="/topic/modify?tid={{.Topic.Id}}" class="btn btn-default">修改</a>
                <p>
                    {{if .Topic.IsMarkdown}}
                        {{str2html .Topic.Content}}
                    {{else}}
                        {{.Topic.Content}}
                    {{end}}
                </p>
            </div>
        </div>

        <!-- fake comment -->
        <div class="container">
            <div class="comments-data"> 评论 ({{len .Comments}}) </div>
            <div class="comments-container">
                <ol class="comment_list clearfix">

                    {{range .Comments}}
                    <li class="comment depth-1" id="li-comment-210436">
                        <div id="comment-210436" class="comment-body">
                            <div class="comment-avatar">
                                <img alt="avatar" src="/static/img/head/default.png" class="avatar avatar-50" height="50" width="50" />
                            </div>
                            <span class="comment-floor">#1楼 |
                                <!--div class="comment-reply"-->
                                    <a rel='nofollow' class='comment-reply-link' href='/comment/reply?to=123' onclick='return addComment.moveForm( "comment-210436", "210436", "respond", "302" )' aria-label='回复给小波'>回复</a>
                                     0 |
                                    <a href="/comment/thumbsup?cid={{.Id}}&tid={{.Tid}}">
                                        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true">{{.LikesCount}}</span>
                                    </a>
                                <!--/div-->
                            </span>

                            <div class="comment-data">
                                <span class="comment-span ">{{.NickName}}</span>
                                <span class="comment-span comment-date text-muted">
                                    <small>{{.CommentTime.Local.Format "2006/01/02 15:04:05"}}</small>
                                </span>
                            </div>

                            <div class="comment-text">
                                <p>{{.Content}}</p>
                                <div class="wp-useragent">
                                    <small>
                                        <code>| 来自 {{.BrowserInfo}} {{.OsInfo}} |</code>
                                    </small>
                                </div>
                            </div>
                        </div>
                    </li> <!-- #comment-## -->
                    {{end}}

                </ol>
            </div>
        </div>    </div>
        <!-- #primary -->

        <!-- 评论框 -->
        <div class="container">
            <h2>发表评论</h2>
            <form method="POST" action="/comment/add">
                <input type="hidden" name="tid" value="{{.Topic.Id}}">
                <div class="form-group">
                    <label>昵称：</label>
                    <input type="text" class="form-control" name="nickname" placeholder="显示的昵称" size="15">
                </div>
                <div class="=form-group">
                    <label>内容：</label>
                    <textarea type="text" class="form-control" name="comment" placeholder="新年快乐呀～"></textarea>
                </div>
                <div class="=form-group">
                    <input type="hidden" id="osinfo" name="osinfo"></input>
                    <input type="hidden" id="browserinfo" name="browserinfo"></input>
                </div>
                <button type="submit" class="btn btn-default pull-right" >提交</button>
            </form>
        </div>

        {{template "footer" .}}
        <script src="/static/js/my.getinfo.js"></script>
        <script type="text/javascript">
            document.getElementById("osinfo").value = OsInfo;
            document.getElementById("browserinfo").value = BrowserInfo;
        </script>
    </body>
</html>